<%- include('../_layouts/adminheader') %>

<h2 class="page-title"> Studenti </h2>
<a href="/admin/students/add-student" class="btn btn-primary">Adauga un nou student</a>
<br><br>

<div style="margin-bottom:20px; padding:10px; background-color:#66aaf7; color:white;">
    <p>Cautarea poate fi realizata dupa <strong>Nume</strong>, <strong>Prenume</strong>, <strong>Varsta</strong>, <strong>Specializare</strong>, <strong>CNP</strong>:</p>  
    <input class="form-control" id="inputFilter" type="text" placeholder="Search.." />
</div>
<table class="table table-striped" id="studentsTable">
    <thead>
    <tr class="home">
        <th>Nume</th>
        <th>Prenume</th>
        <th>Data nastere</th>
        <th>Tara nastere</th>
        <th>Judet nastere</th>
        <th>Sex</th>
        <th>CNP</th>
        <th>Serie CI</th>
        <th>Data expirare CI</th>
        <th>Nume Specializare</th>
        <th>Tip Studiu</th>
    </tr>
    </thead>
    <tbody>
    <% students.forEach(function(student){ %>
        <tr>
            <td><%= student.lastName %></td>
            <td><%= student.firstName %></td>
            <td><%= moment(student.birthDate).format('Do MMMM, YYYY');  %></td>
            <td><%= student.birthCountry %></td>
            <td><%= student.birthCounty %></td>
            <td><%= student.gender %></td>
            <td><%= student.cnp %></td>
            <td><%= student.idCi %></td>
            <td><%= moment(student.dateCi).format('Do MMMM, YYYY'); %></td>
            <td><%= student.collegeName %></td>
            <td><%= student.typeOfStudy %></td>
        </tr>
    <% }); %>
    </tbody>

</table>

<script>
    $("#inputFilter").on("keyup", function() {
      var inputValue = $(this).val().toLowerCase();
      $("#studentsTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
      });
  });
</script>
<%- include('../_layouts/adminfooter') %>